.container4{
    color: #172F4A;
    background-color: white;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.image{
    height: 450px;
    width: 350px;
}

.info{
    font-size: 2.5rem;
    padding: 10px;
}

.sectionTitle{
    font-size: 4rem;
}