.container{
    margin-top: 100px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

img {
    max-width: 250px;
    max-height: 250px; 
}
/* .carousel{
    width: 50%;
    height: 30%;
} */

/* .display-2 {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    text-shadow: 3px 2px 8px black;
    position: absolute;
    right: 15%;
    bottom: 300%;
    left: 15%;
    z-index: 100;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Crimson Text', serif;
    font-weight: 500;
    padding-top: .5rem;
    position: absolute;
    text-shadow: 3px 2px 8px black;
    right: 15%;
    bottom: 39%;
    left: 15%;
    z-index: 100;
    color: #fff;
    text-align: center;
}

@media (max-width:743px) and (min-width:601px) {
    
    .display-2 {
        font-family: 'Crimson Text', serif;
        font-weight: 700;
        text-shadow: 3px 2px 8px black;
        position: absolute;
        right: 15%;
        bottom: 47%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }
    
    h2 {
        font-size: 2.5rem;
        font-family: 'Crimson Text', serif;
        font-weight: 500;
        padding-top: .5rem;
        position: absolute;
        text-shadow: 3px 2px 8px black;
        right: 15%;
        bottom: 26%;
        left: 15%;
        z-index: 100;
        color: #fff;
        text-align: center;
    }
} */