.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.marginLogo{
  margin-top: 7%;
}

.App-link {
  color: #61dafb;
}

/* 
.weddingParty{
  text-align: center;
} */

/* @font-face {
  font-family: 'northwellregular';
  src: url('../.fonts/northwell-webfont.woff2') format('woff2'),
       url('../.fonts/northwell-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */